<div class="content register">

    {% if user.email %}
        <h2 class="big-title">{{ user.email }}</h2>
    {% else %}
        <h2 class="big-title">Nouvel utilisateur</h2>
    {% endif %}

    <div class="form">
        {{ form_start(form) }}
        <div class="form-row">
            <div class="input-data">
                {{ form_widget(form.email) }}
                {{ form_label(form.email) }}
                {{ form_errors(form.email) }}
                <div class="underline">
                </div>
            </div>
            <div class="input-data">
                {{ form_widget(form.username) }}
                {{ form_label(form.username) }}
                {{ form_errors(form.username) }}
                <div class="underline">
                </div>
            </div>
        </div>
        <div class="form-row mt-55-row">
            <div class="input-data">
                {{ form_widget(form.lastname) }}
                {{ form_label(form.lastname) }}
                {{ form_errors(form.lastname) }}
                <div class="underline">
                </div>
            </div>
            <div class="input-data">
                {{ form_widget(form.firstname) }}
                {{ form_label(form.firstname) }}
                {{ form_errors(form.firstname) }}
                <div class="underline">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-decal">
                {{ form_row(form.function) }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-decal">
                {{ form_row(form.description) }}
            </div>
        </div>
        <div class="form-row mt-55-row">
            <div class="input-data file">
                {{ form_widget(form.password) }}
                {{ form_label(form.password) }}
                {{ form_errors(form.password) }}
                <div class="underline">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-decal">
                {{ form_row(form.roles) }}
            </div>
        </div>
        <div class="form-row">
            <div class="input-data">
                {{ form_widget(form.imageFile) }}
                {{ form_errors(form.imageFile) }}
                <div class="underline">
                </div>
            </div>
        </div>
        <div class="form-row">
            {% if user.filename %}
                <li class="blocks-gallery-item-admin">
                    <img class="wp-image" src="{{ vich_uploader_asset(user, 'imageFile') }}"
                         alt="card-img-top" style="width: 25%; height: auto;text-align: center">
                </li>
            {% endif %}
        </div>
        {% for message in app.flashes('verify_email_error') %}
            <div class="alert alert-danger mb-15" role="alert">{{ message }}</div>
        {% endfor %}
        <div class="form-row mb-0">
            <div class="input-data-btn field">
                <input type="submit" class="clean-button" VALUE="{{ button|default('Enregistrer') }}"/>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>




