{% extends 'base.html.twig' %}

{% block title '' %}

{% block body %}
    <div class="container">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <div class="sidebar-flex">
            <div class="aside-left pr-30-995">
                <a href="{{ path('admin.user.new') }}" class="more-link">Créer</a>
                <div class="grid-event">
                    {% for user in users %}
                        <div class="block-event flex-none">
                            {#{% if user.filename %}
                            <a href="#"> <img src="{{ vich_uploader_asset(user, 'imageFile') }}" alt=""/> </a>
                            {% endif %}#}

                            <div class="entry-summary">
                                <p>{{ user.email }}</p>
                            </div>
                            <a href="{{ path('admin.user.edit', {id: user.id}) }}" class="more-link">Editer</a>

                            <form method="POST" action="{{ path('admin.user.delete', {id: user.id}) }}"
                                  style="display: inline-block"
                                  onsubmit="return confirm('Êtes-vous vraiment sûr de vouloir supprimer cet utilisateur ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                <button class="more-link">Supprimer</button>
                            </form>
                            <span class="grid-sep"></span>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="aside-right pl-30">
                <aside class="aside">
                    <div class="infos-main widget_recent_entries border-top-main b-0">
                        <a href="{{ path('admin.dashboard') }}"><h4 class="widget-title">Dashboard</h4></a>
                        <ul>
                            <li><a href="{{ path('admin.user.index') }}"
                                   class="{% if current_sub_menu is defined and current_sub_menu == 'admin_user' %}active-dashboard{% endif %}">Users</a>
                            </li>
                            <li><a href="#"
                                   class="{% if current_sub_menu is defined and current_sub_menu == 'admin_recipe' %}active-dashboard{% endif %}">Recipes</a>
                            </li>
                            <li><a href="{{ path('admin.event.index') }}"
                                   class="{% if current_sub_menu is defined and current_sub_menu == 'admin_event' %}active-dashboard{% endif %}">Events</a>
                            </li>
                            <li><a href="#"
                                   class="{% if current_sub_menu is defined and current_sub_menu == 'admin_article' %}active-dashboard{% endif %}">Articles</a>
                            </li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
{% endblock %}