{% extends 'base.html.twig' %}

{% block title '' %}

{% block body %}
    <div class="container">
        <div class="sidebar-flex">
            <div class="aside-left pr-30-995">
                <a href="{{ path('admin.user.new') }}" class="more-link">Créer</a>
                <div class="grid-event">
                    {% for user in users %}
                        <div class="block-event flex-none">
                            {#{% if user.filename %}
                            <a href="#"> <img src="{{ vich_uploader_asset(user, 'imageFile') }}" alt=""/> </a>
                            {% endif %}#}

                            <h3 class="entry-title mt-30 has-line"><a href="#">{{ user.email }}</a>
                            </h3>
                            <div class="entry-summary">
                                <p>{{ user.username }} {{ user.lastname }} {{ user.firstname }}</p>
                            </div>
                            <span class="grid-sep"></span>
                            <a href="{{ path('admin.user.edit', {id: user.id}) }}" class="more-link">Editer</a>

                            <form method="POST" action="{{ path('admin.user.delete', {id: user.id}) }}"
                                  style="display: inline-block"
                                  onsubmit="return confirm('Êtes-vous vraiment sûr de vouloir supprimer cet utilisateur ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                                <button class="more-link">Supprimer</button>
                            </form>

                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="aside-right pl-30">
                <aside class="aside">
                    <div class="infos-main widget_recent_entries border-top-main b-0">
                        <a href="{{ path('admin.dashboard') }}"><h4 class="widget-title">Dashboard</h4></a>
                        <ul>
                            <li><a href="{{ path('admin.user.index') }}">Users</a></li>
                            <li><a href="#">Recipes</a></li>
                            <li><a href="#">Events</a></li>
                            <li><a href="#">Articles</a></li>
                        </ul>
                    </div>
                    <div class="infos-main widget_recent_entries border-top-main">
                        <h4 class="widget-title">Recent posts</h4>
                        <ul>
                            <li><a href="#">How to Make Sushi at Home</a></li>
                            <li><a href="#">5-Minute Breakfasts That Are Actually Healthy</a></li>
                            <li><a href="#">Everything You Want to Know About Pizza</a></li>
                        </ul>
                    </div>
                    <div class="infos-main widget_recent_entries border-top-main">
                        <h4 class="widget-title">Recent comments</h4>
                        <ul>
                            <li>Taras Dashkevych on <a href="#">How to Make Sushi at Home</a></li>
                            <li>Julia Doe on <a href="#">How to Make Sushi at Home</a></li>
                            <li>Taras Dashkevych on <a href="#">How to Make Sushi at Home</a></li>
                            <li>Taras Dashkevych on <a href="#">Everything You Want to Know About Pizza</a></li>
                            <li>Julia Doe on <a href="#">Everything You Want to Know About Pizza</a></li>
                        </ul>
                    </div>
                    <div class="infos-main widget_recent_entries border-top-main">
                        <h4 class="widget-title">Categories</h4>
                        <ul>
                            <li><a href="#">Dessert</a></li>
                            <li><a href="#">Drinks</a></li>
                            <li><a href="#">Food</a></li>
                            <li><a href="#">Seafood</a></li>
                            <li><a href="#">Tips</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
{% endblock %}