{% extends 'base.html.twig' %}

{% block title 'Evènement ' ~ event.title %}

{% block baseline %}
    <div class="item item-show th-swipe" style="background: linear-gradient(360deg, rgba(0, 0, 0, 0.1), rgba(54, 54, 54, 0.5) 39.24%, rgba(28,28,28,0.4)),
    linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(54, 54, 54, 0.5) 39.24%, rgba(28, 28, 28, 0.4)),
    url(https://appetitedemo.files.wordpress.com/2015/07/smachno_19.jpg?w=1280&h=853&crop=1) no-repeat center center;">
        <div class="container transparent">
            <div class="item-title mt-30 primary-font">
                <a>{{ event.title }}</a>
            </div>
            <div class="entry-meta entry-meta-baseline">
                <span class="description-no-hover posted-on has-icon">{{ event.formattedTakesPlaceAt }}</span>
                <span class="description-no-hover byline has-icon"><a href="{{ path('home') }}">ECE COOK</a></span>
                <span class="description-no-hover map has-icon">{{ event.city }}</span>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="sidebar-flex pb-0">
            <div class="aside-left aside-left-show">
                <div class="entry-summary mt-0 entry-text">
                    <p class="mt-0 mb-0">
                        {{ event.caption }}
                    </p>
                </div>
                <div class="block-gallery">
                    <ul class="block-gallery-grid">
                        {% for picture in event.pictures %}
                            <li class="blocks-gallery-item">
                                <img class="wp-image" src="{{ vich_uploader_asset(picture, 'imageFile') }}"
                                     alt="card-img-top" style="width: 100%; height: auto;">
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <h3 class="entry-content-h3">L'évènement Ece cook {{ event.title }}</h3>
                <div class="entry-summary mt-30 entry-text">
                    <p class="mt-0 mb-60">
                        {{ event.description }}
                    </p>
                </div>
            </div>

            <div class="aside-right aside-right-show">
               {{ sidebar() }}
            </div>
        </div>
    </div>

{% endblock %}


