<div class="content register">

    {% if event.title %}
        <h2 class="big-title">{{ event.title }}</h2>
    {% else %}
        <h2 class="big-title">Nouvel évènement</h2>
    {% endif %}

    <div class="form">
        {{ form_start(form) }}
        <div class="form-row">
            <div class="input-data">
                {{ form_widget(form.title) }}
                {{ form_label(form.title) }}
                {{ form_errors(form.title) }}
                <div class="underline">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-decal">
                {{ form_row(form.takesPlace_at) }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-decal">
                {{ form_row(form.caption) }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-decal">
                {{ form_row(form.description) }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-decal">
                {{ form_row(form.address) }}
            </div>
        </div>
        <div class="form-row mt-55-row">

            <div class="input-data">
                {{ form_widget(form.city) }}
                {{ form_label(form.city) }}
                {{ form_errors(form.city) }}
                <div class="underline">
                </div>
            </div>
            <div class="input-data">
                {{ form_widget(form.postal_code) }}
                {{ form_label(form.postal_code) }}
                {{ form_errors(form.postal_code) }}
                <div class="underline">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="input-data">
                {{ form_widget(form.pictureFiles) }}
                {{ form_errors(form.pictureFiles) }}
                <div class="underline">
                </div>
            </div>
        </div>
        <div class="form-row">
            {% for picture in event.pictures %}
                <li class="blocks-gallery-item-admin">
                    <img class="wp-image" src="{{ vich_uploader_asset(picture, 'imageFile') }}"
                         alt="card-img-top" style="width: 100%; height: auto;">
                    <a href="{{ path('admin.eventpicture.delete', {id: picture.id}) }}" class="more-link-delete more-lien"
                       data-delete
                       data-token="{{ csrf_token('delete' ~ picture.id) }}">Supprimer</a>
                </li>
            {% endfor %}
        </div>
        <div class="form-row">
            <div class="form-decal">
                {{ form_label(form.active) }}
                {{ form_widget(form.active) }}
                {{ form_errors(form.active) }}
            </div>
        </div>
        <div class="form-row mb-0">
            <div class="input-data-btn field">
                <input type="submit" class="clean-button" VALUE="{{ button|default('Enregistrer') }}"/>
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
</div>