{% extends 'base.html.twig' %}

{% block title 'Administration des évènements' %}

{% block body %}
    <div class="container">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <div class="sidebar-flex">
            <div class="aside-left pr-30-995">
                <a href="{{ path('admin.event.new') }}" class="more-link">Nouvel évènement</a>
                <div class="grid-event">
                    {% for event in events %}
                        <div class="block-event flex-none">
                            {% if  event.pictures is empty %}
                                <img src="{{ 'images/smachno_07.jpg' }}" alt="card-img-top"
                                     style="width: 100%; height: auto;">
                            {% else %}
                                {% for picture in event.pictures %}
                                    {% if loop.first %}
                                        <a href="{{ path('event.show', {slug: event.slug, id: event.id}) }}"><img
                                                    src="{{ vich_uploader_asset(picture, 'imageFile') | imagine_filter('admin_grid_index') }}"
                                                    alt="card-img-top" style="width: 100%; height: auto;"></a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            <h3 class="entry-title mt-30"><a href="{{ path('event.show', {slug: event.slug, id: event.id}) }}">{{ event.title }}</a>
                            </h3>
                            <div class="entry-summary">
                                <p></p>
                            </div>
                            <a href="{{ path('admin.event.edit', {id: event.id}) }}" class="more-link">Editer</a>

                            <form method="POST" action="{{ path('admin.event.delete', {id: event.id}) }}"
                                  style="display: inline-block"
                                  onsubmit="return confirm('Êtes-vous vraiment sûr de vouloir supprimer cet évènement ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
                                <button class="more-link-delete">Supprimer</button>
                            </form>
                            <span class="grid-sep"></span>
                        </div>
                    {% endfor %}
                </div>
            </div>

            {{ adminSidebar('admin_event') }}
        </div>
    </div>
{% endblock %}