{% extends 'base.html.twig' %}

{% block title 'Inscription' %}

{% block body %}
    {% for message in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
    {{ form_rest(registrationForm) }}
        <button type="submit" class="clean-button">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
