{% extends 'base.html.twig' %}

{% block baseline %}
    <div class="baseline">

        <div id="carousel1">

            <div class="item item1 th-swipe">
                <div class="container transparent">
                    <div class="item-title primary-font">
                        <a>WELCOME TO OUR RESTAURANT</a>
                    </div>
                    <div class="item-description auto-description">
                        <p>Restaurants range from inexpensive and informal lunching or dining places catering to
                            people
                            working nearby, with modest food served in simple settings at low prices, to expensive
                            establishments serving refined food and fine wines in a formal setting. In the former
                            case,
                            customers usually wear casual clothing.</p>
                    </div>
                    <a class="more-link">Read our story</a>
                </div>

            </div>
            <div class="item item2 th-swipe">
                <div class="container transparent">
                    <div class="item-title">
                        <a>WE SERVE DELICIOUS DISHES</a>
                    </div>
                    <div class="item-description auto-description">
                        <p>The type of meal served or eaten at any given time varies by custom and location. In most
                            modern
                            cultures, three main meals are eaten: in the morning, early afternoon, and evening.
                            Further,
                            the
                            names of meals are often interchangeable by custom as well.</p>
                    </div>
                    <a class="more-link">Read more</a>
                </div>
            </div>
            <div class="item item3 th-swipe">
                <div class="container transparent">
                    <div class="item-title">
                        <a>ENJOY THE BEST LIVE MUSIC</a>
                    </div>
                    <div class="item-description auto-description">
                        <p>The nature of a concert varies by musical genre, individual performers, and the venue.
                            Concerts
                            by a small jazz combo or small bluegrass band may have the same order of program, mood,
                            and
                            volume—but vary in music and dress.Regular attendees to a concert venue might also have
                            a
                            recognizable style that comprises that venue’s scene.</p>
                    </div>
                    <a class="more-link">View schedule</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="home-section">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <div class="container">
            <!-- Events !-->
            <h2 class="big-title" style="margin-bottom: 60px">Next events</h2>

            {% for event in events %}
                <div class="block-event">
                    <div class="block-img {% if loop.index is odd %}p-right{% else %}p-left{% endif %}">
                        {% if  event.pictures is empty %}
                            <img src="{{ 'images/smachno_07.jpg' | imagine_filter('home_event') }}" alt="card-img-top"
                                 style="width: 100%; height: auto;">
                        {% else %}
                            {% for picture in event.pictures %}
                                {% if loop.first %}
                                    <a href="{{ path('event.show', {slug: event.slug, id: event.id}) }}"><img
                                                src="{{ vich_uploader_asset(picture, 'imageFile') | imagine_filter('home_event') }}"
                                                alt="card-img-top" style="width: 100%; height: auto;"></a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="main-block {% if loop.index is odd %}main-block-left{% else %}main-block-right{% endif %}">
                        <h3 class="entry-title"><a
                                    href="{{ path('event.show', {slug: event.slug, id: event.id}) }}">{{ event.title }}</a>
                        </h3>
                        <div class="entry-meta has-line">
                            <span class="description posted-on has-icon">{{ event.formattedTakesPlaceAt }}</span>
                            <span class="description byline has-icon"><a href="{{ path('home') }}">ECE COOK</a></span>
                            <span class="description map has-icon">{{ event.city }}</span>
                        </div>
                        <div class="entry-summary">
                            <p>{{ event.formattedCaption }}</p>
                            <a href="{{ path('event.show', {slug: event.slug, id: event.id}) }}" class="more-link">Read
                                more</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Recipes !-->
        <div class="widget">
            <div class="container">
                <h2 class="big-title">Recent recipes</h2>
                <div class="grid">

                    {% for recipe in recipes %}
                        <div class="block-recipe">
                            {% if  recipe.pictures is empty %}
                                <img src="{{ 'images/smachno_07.jpg' | imagine_filter('home_recipe') }}" alt="card-img-top"
                                     style="width: 100%; height: auto;">
                            {% else %}
                                {% for picture in recipe.pictures %}
                                    {% if loop.first %}
                                        <a href="{{ path('recipe.show', {slug: recipe.slug, id: recipe.id}) }}"><img
                                                    src="{{ vich_uploader_asset(picture, 'imageFile') | imagine_filter('home_recipe') }}"
                                                    alt="card-img-top"></a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <h3 class="entry-title mt-30"><a
                                        href="{{ path('recipe.show', {slug: recipe.slug, id: recipe.id}) }}">{{ recipe.title }}</a>
                            </h3>
                            <div class="entry-meta">
                                <span class="description posted-on has-icon">{{ recipe.formattedCreatedAt }}</span>
                                <span class="description byline has-icon"><a href="{{ path('author.showRecipe', {id: recipe.author.id, slug: recipe.author.slug}) }}">{{ recipe.author.lastname }}</a></span>
                                <span class="description time-home has-icon">{{ recipe.duration }} min</span>
                            </div>
                            <div class="entry-summary">
                                <p>{{ recipe.formattedCaption }}</p>
                                <a href="{{ path('recipe.show', {slug: recipe.slug, id: recipe.id}) }}"
                                   class="more-link">Read more</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Staff !-->
        <div class="container container-carousel">
            <h2 class="big-title">The staff</h2>
            <div id="carousel2">

                {% for user in users %}
                    <div class="item item-staff">
                        <!-- Staff !-->
                        <div class="block-event block">

                            {% if user.filename %}
                                <img src="{{ vich_uploader_asset(user, 'imageFile') | imagine_filter('home_user')}}" alt="card-img-top">
                            {% else %}
                                <img src="{{ 'images/smachno_01.jpg' | imagine_filter('home_user')}}" alt="card-img-top">
                            {% endif %}

                            <div class="entry-card">
                                <h3 class="entry-title entry-title-no-hover mt-0">{{ user.firstname }} {{ user.lastname }}</h3>
                                <div class="entry-meta">
                                    <span class="description">{{ user.function }}</span>
                                </div>
                                <div class="entry-summary">
                                    <p>
                                        {{ user.formattedDescription }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}