{% extends 'base.html.twig' %}

{% block title 'Changer votre mot de passe' %}

{% block body %}
    <div class="home-section pt-0 pb-0">
        <div class="container pb-60">

            {% for flashError in app.flashes('reset_password_error') %}
                <div class="notifications" data-status="0" data-message="{{ message }}">
                </div>
            {% endfor %}

            <div class="content register">
                <h2 class="big-title">Modifier mon mot de passe</h2>
                <div class="form">
                    {{ form_start(requestForm) }}
                    <div class="form-row">
                        <div class="input-data">
                            {{ form_widget(requestForm.email) }}
                            {{ form_label(requestForm.email) }}
                            {{ form_errors(requestForm.email) }}
                            <div class="underline">

                            </div>
                        </div>
                    </div>
                    <div class="signup space" style="margin: 0 15px">
                        Entrez votre adresse email pour recevoir le lien de modification de votre mot de passe.
                    </div>
                    <div class="form-row mb-0">
                        <div class="input-data-btn field">
                            <input type="submit" class="clean-button" VALUE="ENVOYER"/>
                        </div>
                    </div>
                    {{ form_end(requestForm) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}