<div class="aside-right pl-30">
    <aside class="aside">
        <div class="infos-main widget_recent_entries border-top-main b-0">
            <h4 class="widget-title">Dashboard</h4>
            <ul>
                <li><a href="{{ path('admin.user.index') }}">Users</a></li>
                <li><a href="{{ path('admin.category.index') }}">Recipes - Categories</a></li>
                <li><a href="{{ path('admin.ingredient.index') }}">Recipes - Ingredients</a> </li>
                <li><a href="{{ path('admin.recipe.index') }}">Recipes</a></li>
                <li><a href="{{ path('admin.event.index') }}">Events</a></li>
                <li><a href="{{ path('admin.article.index') }}">Articles</a></li>
            </ul>
        </div>
    </aside>
</div>