<div class="content register">

    {% if recipe.title %}
        <h2 class="big-title">{{ recipe.title }}</h2>
    {% else %}
        <h2 class="big-title">Nouvelle recette</h2>
    {% endif %}

    <div class="form">
        {{ form_start(form) }}
        <div class="form-row">
            <div class="input-data">
                {{ form_widget(form.title) }}
                {{ form_label(form.title) }}
                {{ form_errors(form.title) }}
                <div class="underline">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="input-data textarea mt-15-row">
                {{ form_widget(form.caption) }}
                {{ form_label(form.caption) }}
                {{ form_errors(form.caption) }}
                <div class="underline"></div>
            </div>
        </div>
        <div class="form-row">
            <div class="input-data textarea mt-15-row">
                {{ form_widget(form.description) }}
                {{ form_label(form.description) }}
                {{ form_errors(form.description) }}
                <div class="underline"></div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-decal">
                {{ form_row(form.author) }}
            </div>
            <div class="form-decal">
                {{ form_row(form.category) }}
            </div>
        </div>
        <div class="form-row">
            <div class="input-data mt-15-row">
                {{ form_widget(form.duration) }}
                {{ form_label(form.duration) }}
                {{ form_errors(form.duration) }}
                <div class="underline">
                </div>
            </div>
            <div class="form-decal">
                {{ form_row(form.difficulty) }}
            </div>
        </div>

        <div class="infos-main-a widget_recent_entries b-0" style="padding: 0 20px">
            <h4 class="widget-title">Ingrédients</h4>
            <ul>
                {% for ingredient in recipe.ingredients %}
                    <li>{{ ingredient.name }}
                        <a href="{{ path('admin.recipeingredient.delete', {id: ingredient.id}) }}"
                           class="more-link-delete more-lien"
                           style=""
                           data-delete
                           data-token="{{ csrf_token('delete' ~ ingredient.id) }}">Supprimer</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="form-row">
            <div class="input-data">
                {{ form_widget(form.pictureFiles) }}
                {{ form_errors(form.pictureFiles) }}
                <div class="underline">
                </div>
            </div>
        </div>
        <div class="form-row">
            {% for picture in recipe.pictures %}
                <li class="blocks-gallery-item-admin">
                    <img class="wp-image" src="{{ vich_uploader_asset(picture, 'imageFile') }}"
                         alt="card-img-top" style="width: 100%; height: auto;">
                    <a href="{{ path('admin.recipepicture.delete', {id: picture.id}) }}"
                       class="more-link-delete more-lien"
                       data-delete
                       data-token="{{ csrf_token('delete' ~ picture.id) }}">Supprimer</a>
                </li>
            {% endfor %}
        </div>
        <div class="form-row">
            <div class="form-decal">
                {{ form_label(form.active) }}
                {{ form_widget(form.active) }}
                {{ form_errors(form.active) }}
            </div>
        </div>
        <div class="form-row mb-0">
            <div class="input-data-btn field">
                <input type="submit" class="clean-button" VALUE="{{ button|default('Enregistrer') }}"/>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>