<div class="content register">

    {% if ingredient.name %}
        <h2 class="big-title">{{ ingredient.name }}</h2>
    {% else %}
        <h2 class="big-title">Nouvel ingrédient</h2>
    {% endif %}

    <div class="form">
        {{ form_start(form) }}
        <div class="form-row">
            <div class="input-data">
                {{ form_widget(form.name) }}
                {{ form_label(form.name) }}
                {{ form_errors(form.name) }}
                <div class="underline">
                </div>
            </div>
            <div class="input-data">
                {{ form_widget(form.recipe) }}
                {{ form_label(form.recipe) }}
                {{ form_errors(form.recipe) }}
                <div class="underline">
                </div>
            </div>
        </div>
        <div class="form-row mb-0">
            <div class="input-data-btn field">
                <input type="submit" class="clean-button" VALUE="{{ button|default('Enregistrer') }}"/>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>






