{% extends 'base.html.twig' %}

{% block title '' %}

{% block body %}
    <div class="container">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <div class="sidebar-flex">
            <div class="aside-left pr-30-995">
                <div class="admin-container">
                    <div class="infos-main widget_recent_entries border-top-main b-0">
                        <h4 class="widget-title">Les ingrédients</h4>
                        <table>
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th><a href="{{ path('admin.ingredient.new') }}" class="more-link">Nouveau</a></th>
                            </tr>
                            </thead>
                            {% for ingredient in ingredients %}
                                <tbody>
                                <tr>
                                    <td>
                                        {{ ingredient.name }}</td>
                                    <td><a href="{{ path('admin.ingredient.edit', {id: ingredient.id}) }}"
                                           class="more-link">Editer</a>
                                        <form method="POST" action="{{ path('admin.ingredient.delete', {id: ingredient.id}) }}"
                                              style="display: inline-block"
                                              onsubmit="return confirm('Êtes-vous vraiment sûr de vouloir supprimer cet ingrédient ?')">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token"
                                                   value="{{ csrf_token('delete' ~ ingredient.id) }}">
                                            <button class="more-link">Supprimer</button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>

            {{ adminSidebar() }}
        </div>
    </div>
{% endblock %}