<div class="block-img-recipes p-img-30">
    {% if  recipe.pictures is empty %}
        <img src="{{ 'images/smachno_07.jpg' }}" alt="card-img-top"
             style="width: 100%; height: auto;">
    {% else %}
        {% for picture in recipe.pictures %}
            {% if loop.first %}
                <a href="{{ path('recipe.show', {slug: recipe.slug, id: recipe.id}) }}"><img
                            src="{{ vich_uploader_asset(picture, 'imageFile') | imagine_filter('recipe_index') }}"
                            alt="card-img-top"></a>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
<div class="block-main-recipe">
    <a href="{{ path('recipe.show', {slug: recipe.slug, id: recipe.id}) }}" class="category-link mt-30">{{ recipe.category.title }}</a>
    <span class="sep">/</span>
    <span class="item-info">Difficulty</span>
    {% if recipe.difficulty %}
        {% for i in 1..recipe.difficulty %}
            <span class="has-icon difficulty"></span>
        {% endfor %}
        {% for i in recipe.difficulty..4 %}
            <span class="has-icon difficulty-empty"></span>
        {% endfor %}
    {% endif %}
    {#<span class="has-icon difficulty-half"></span>
    <span class="has-icon difficulty-empty"></span>#}
    <span class="sep">/</span>
    <span class="item-info time has-icon">{{ recipe.duration }} min</span>
    <h3 class="entry-title mt-10"><a href="#">{{ recipe.title }}</a></h3>
    <div class="entry-meta">
        <span class="description posted-on has-icon"><a href="#">{{ recipe.formattedCreatedAt }}</a></span>
        <span class="description byline has-icon"><a href="#">{{ recipe.author.firstname }} {{ recipe.author.lastname }}</a></span>
        {#<span class="description comments-link has-icon"><a href="#">3 comments</a></span>#}
    </div>
    <div class="entry-summary">
        <p>{{ recipe.caption }}</p>
        <a href="{{ path('recipe.show', {slug: recipe.slug, id: recipe.id}) }}" class="more-link">Read more</a>
    </div>
</div>