{% extends 'base.html.twig' %}

{% block title 'Recette ' ~ recipe.title %}

{% block baseline %}
    <div class="item item-show th-swipe" style="background: linear-gradient(360deg, rgba(0, 0, 0, 0.1), rgba(54, 54, 54, 0.5) 39.24%, rgba(28,28,28,0.4)),
    linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(54, 54, 54, 0.5) 39.24%, rgba(28, 28, 28, 0.4)),
    url({{ vich_uploader_asset(recipe.picture, 'imageFile') | imagine_filter('baseline_image') }}) no-repeat center center;">
        <div class="container transparent">
            <div class="entry-cats has-icon">
                <a href="{{ path('category.show', {slug: recipe.category.slug, id: recipe.category.id}) }}" class="item-info">{{ recipe.category.title }}</a>
                <span class="sep">/</span>
                <span class="item-info">Difficulty</span>
                {% if recipe.difficulty %}
                    {% for i in 0..recipe.difficulty-1 %}
                        <span class="has-icon difficulty"></span>
                    {% endfor %}
                    {% if recipe.difficulty != 5 %}
                        {% for i in recipe.difficulty..4 %}
                            <span class="has-icon difficulty-empty"></span>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </div>
            <div class="item-title mt-30 primary-font">
                <a>{{ recipe.title }}</a>
            </div>
            <div class="entry-meta-baseline">
                <span class="description-no-hover posted-on has-icon">{{ recipe.formattedCreatedAt }}</span>
                <span class="description-no-hover byline has-icon"><a href="{{ path('author.showRecipe', {id: recipe.author.id, slug: recipe.author.slug}) }}">{{ recipe.author.firstname }} {{ recipe.author.lastname }}</a></span>
                <span class="description-no-hover time-home has-icon">{{ recipe.duration }} min</span>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="sidebar-flex">
            <div class="aside-left aside-left-show">
                <div class="entry-summary mt-0 entry-text">
                    <p class="mt-0 mb-0">
                        {{ recipe.caption }}
                    </p>
                </div>
                <h3 class="entry-content-h3">Romantic drinks</h3>
                <div class="block-gallery">
                    <ul class="block-gallery-grid">
                        {% for picture in recipe.pictures %}
                            <li class="blocks-gallery-item">
                                <img class="wp-image" src="{{ vich_uploader_asset(picture, 'imageFile') | imagine_filter('event_content') }}"
                                     alt="card-img-top" style="width: 100%; height: auto;">
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <h3 class="entry-content-h3">La préparation</h3>
                <div class="entry-summary mt-0 entry-text">
                    <p class="mt-0 mb-0">
                        {{ recipe.description }}
                    </p>
                </div>
                <div class="infos-main widget_recent_entries">
                    <h3 class="entry-content-h3">Les ingrédients</h3>
                    {% if recipe.ingredients %}
                    <ul>
                        {% for ingredient in recipe.ingredients %}
                            <li class="has-icon ingredient-item">{{ ingredient.name }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <footer class="entry-footer">
                    <div class="author-container">
                        {% if recipe.author.filename is empty %}
                        <img src="https://0.gravatar.com/avatar/9bef3042b6797401752a5fdab945e2b7?s=270&d=identicon&r=G"
                             alt="img-author"/>
                        {% else %}
                            <img src="{{ vich_uploader_asset(recipe.author, 'imageFile') | imagine_filter('thumb_author') }}" alt="img-author">
                        {% endif %}
                        <div class="author-bio">
                            <h3>
                                Written by <br>
                                <a>{{ recipe.author.firstname }}
                                    {{ recipe.author.lastname }}</a>
                            </h3>
                            <p>{{ recipe.author.description }}</p>
                        </div>
                    </div>
                    {#<div class="comments">
                        <h3 class="entry-content-h3">3 Commentaires</h3>
                        <ol class="comments-list pl-0">
                            <li class="comment">
                                <div class="comment-body">
                                    <div class="comment-meta">
                                        <div class="comment-author">
                                            <img src="https://0.gravatar.com/avatar/65c1bbbccb98f08aca215bd7e0352809?s=150&d=identicon&r=G"
                                                 alt="">
                                            <br>
                                            <b>Julia Doe</b>
                                            <div class="comment-metadata">
                                                <a href="">July 4, 2015 at 10:50 am</a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="comment-content mt-30">
                                        <p class="mt-0">The core software is built by hundreds of community volunteers,
                                            and when
                                            you’re ready for more there are thousands of plugins and themes available to
                                            transform your site into almost anything you can imagine. Over 60 million
                                            people have chosen WordPress to power the place on the web they call “home”
                                            — we’d love you to join the family.</p>
                                    </div>
                                </div>
                                <ol class="children pl-0">
                                    <li class="comment-children">
                                        <div class="comment-body">
                                            <div class="comment-meta">
                                                <div class="comment-author">
                                                    <img src="https://0.gravatar.com/avatar/9bef3042b6797401752a5fdab945e2b7?s=150&d=identicon&r=G"
                                                         alt="">
                                                    <br>
                                                    <b>Taras Dashkevych</b>
                                                </div>
                                                <div class="comment-metadata">
                                                    <a href="">July 4, 2015 at 10:51 am</a>
                                                </div>
                                            </div>
                                            <div class="comment-content mt-30">
                                                <p class="mt-0">This is an example page. It’s different from a blog post
                                                    because it
                                                    will stay in one place and will show up in your site navigation (in
                                                    most themes). Most people start with an About page that introduces
                                                    them to potential site visitors.</p>
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            </li>
                            <li class="comment">
                                <div class="comment-body">
                                    <div class="comment-meta">
                                        <div class="comment-author">
                                            <img src="https://0.gravatar.com/avatar/65c1bbbccb98f08aca215bd7e0352809?s=150&d=identicon&r=G"
                                                 alt="">
                                            <b>Julia Doe</b>
                                        </div>
                                        <div class="comment-metadata">
                                            <a href="">July 23, 2015 at 10:50 am</a>
                                        </div>
                                    </div>
                                    <div class="comment-content mt-30">
                                        <p class="mt-0">WordPress started in 2003 with a single bit of code to enhance
                                            the typography
                                            of everyday writing and with fewer users than you can count on your fingers
                                            and toes. Since then it has grown to be the largest self-hosted blogging
                                            tool in the world, used on millions of sites and seen by tens of millions of
                                            people every day.</p>
                                    </div>
                                </div>
                            </li>
                        </ol>
                    </div>
                    <p class="no-comments mt-30">Comments are closed.</p>#}
                </footer>
            </div>

            <div class="aside-right aside-right-show">
                {{ sidebar() }}
            </div>
        </div>
    </div>

{% endblock %}


