<div class="content register">

    {% if category.title %}
        <h2 class="big-title">{{ category.title }}</h2>
    {% else %}
        <h2 class="big-title">Nouvelle catégorie</h2>
    {% endif %}

    <div class="form">
        {{ form_start(form) }}
        <div class="form-row">
            <div class="input-data">
                {{ form_widget(form.title) }}
                {{ form_label(form.title) }}
                {{ form_errors(form.title) }}
                <div class="underline">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="input-data">
                {{ form_widget(form.imageFile) }}
                {{ form_errors(form.imageFile) }}
                <div class="underline">
                </div>
            </div>
        </div>
        <div class="form-row">
            {% if category.filename %}
                <li class="blocks-gallery-item-admin">
                    <img class="wp-image" src="{{ vich_uploader_asset(category, 'imageFile') }}"
                         alt="card-img-top" style="width: 25%; height: auto;text-align: center">
                </li>
            {% endif %}
        </div>
        <div class="form-row mb-0">
            <div class="input-data-btn field">
                <input type="submit" class="clean-button" VALUE="{{ button|default('Enregistrer') }}"/>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>






