{% extends 'base.html.twig' %}

{% block title 'Administration des catégories' %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="notifications" data-status="1" data-message="{{ message }}">
        </div>
    {% endfor %}

    <div class="container">

        <div class="sidebar-flex">
            <div class="aside-left pr-30-995">
                <div class="admin-container">
                    <div class="infos-main widget_recent_entries border-top-main b-0">
                        <h4 class="widget-title">Les catégories</h4>
                        <table>
                            <thead>
                            <tr>
                                <th>Titre</th>
                                <th><a href="{{ path('admin.category.new') }}" class="more-link">Nouvelle</a></th>
                            </tr>
                            </thead>
                            {% for category in categories %}
                                <tbody>
                                <tr>
                                    <td>
                                        {{ category.title }}</td>
                                    <td><a href="{{ path('admin.category.edit', {id: category.id}) }}"
                                           class="more-link">Editer</a>
                                        <form method="POST" action="{{ path('admin.category.delete', {id: category.id}) }}"
                                              style="display: inline-block"
                                              onsubmit="return confirm('Êtes-vous vraiment sûr de vouloir supprimer cette categorie ?')">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token"
                                                   value="{{ csrf_token('delete' ~ category.id) }}">
                                            <button class="more-link-delete">Supprimer</button>
                                        </form>

                                    </td>
                                </tr>
                                </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>

            {{ adminSidebar('admin_category') }}
        </div>
    </div>
{% endblock %}