<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}ECE COOK{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
<header class="header" id="hamburger">
    <div class="logo">
        <a href="{{ path('home') }}">Ece cook</a>
    </div>
    <nav class="menu" id="hamburger-content">
        <a href="{{ path('home') }}"
           class="menu-item {% if current_menu is defined and current_menu == 'home' %}active{% endif %}">Home</a>
        <a href="{{ path('recipe.index') }}"
           class="menu-item {% if current_menu is defined and current_menu == 'recipe' %}active{% endif %}">Recettes</a>
        <a href="{{ path('event.index') }}"
           class="menu-item {% if current_menu is defined and current_menu == 'event' %}active{% endif %}">évènements</a>
        <a href="{{ path('article.index') }}"
           class="menu-item {% if current_menu is defined and current_menu == 'article' %}active{% endif %}">Boutique</a>
        {% if app.user %}
            <a class="menu-item">Mon compte</a>
            {% for role in app.user.roles %}
                {#<button class="button-user user-co has-icon"></button>#}
                {% if role == 'ROLE_ADMIN' %}
                    <a href="{{ path('admin.dashboard') }}"
                       class="menu-item {% if current_menu is defined and current_menu == 'admin' %}active{% endif %}">Dashboard</a>
                {% endif %}
            {% endfor %}
            <a href="{{ path('app_logout') }}" class="menu-item">Se déconnecter</a>
        {% endif %}
        <button class="clean-button has-icon search-button" id="hamburger-search-button"></button>
    </nav>
    <button id="hamburger-button" class="has-icon"><span>Menu</span></button>
    <div id="hamburger-sidebar">
        <button class="btn btn-close has-icon" id="hamburger-button-close"><span>close</span></button>
        <input type="text" placeholder="Search..." class="search-field"/>
        <div id="hamburger-sidebar-body"></div>
    </div>
    <div id="hamburger-overlay"></div>

</header>

{% block baseline %}{% endblock %}


{% block body %}
{% endblock %}

<footer class="footer" id="footer">
    <div class="container-footer">
        <div class="container transparent">

            <div class="footer-area">
                <div class="infos">
                    <h4 class="widget-title">Opening hours</h4>
                    <ul>
                        <li>Weekdays: 08:00am - 22:00pm</li>
                        <li>Saturday: 09:00am - 02:00am</li>
                        <li>Sunday: 08:00am - 10:00pm</li>
                        <li>Holidays: 10:00am - 10:00pm</li>
                        <li>Happy Hours: 8:00pm - 11:00pm</li>
                    </ul>
                </div>

                <div class="infos widget_recent_entries">
                    <h4 class="widget-title">Recent post</h4>
                    <ul>
                        <li><a href="#">How to Make Sushi at Home</a></li>
                        <li><a href="#">5-Minute Breakfasts That Are Actually Healthy</a></li>
                        <li><a href="#">Everything You Want to Know About Pizza</a></li>
                    </ul>
                </div>

                <div class="infos widget_recent_entries">
                    <h4 class="widget-title">ABOUT APPETITE</h4>
                    <p>Dummy text is text that is used in the publishing industry or by web designers to occupy the
                        space
                        which will later be filled with ‘real’ content. This is required when the final text is not yet
                        available.</p>
                </div>
            </div>
        </div>

        <div class="footer-social social-list">
            <ul class="list-unstiled">
                <li class=""><a href="#" class="facebook has-icon"></a></li>
                <li class=""><a href="#" class="instagram has-icon"></a></li>
                <li class=""><a href="#" class="twitter has-icon"></a></li>
                <li class=""><a href="#" class="youtube has-icon"></a></li>
                <li class=""><a href="#" class="mail has-icon"></a></li>
            </ul>
        </div>
    </div>

    <div class="copyright">
        2020 Appetite• 1234 Street, Seattle WA • (123) 456-7890
    </div>
</footer>
{% block footer %}
{% endblock %}

{{ encore_entry_script_tags('app') }}
{% block javascripts %}
{% endblock %}
</body>
</html>
