{{ form_start(form) }}
{{ form_rest(form) }}
{% for picture in article.pictures %}
    <div class="col" style="width: 100px; flex: none; margin: 5px">
        <img src="{{ vich_uploader_asset(picture, 'imageFile') }}" width="100">
        <a href="{{ path('admin.articlepicture.delete', {id: picture.id}) }}" class="clean-button" data-delete
           data-token="{{ csrf_token('delete' ~ picture.id) }}">Supprimer</a>
    </div>
{% endfor %}
<button type="submit" class="clean-button">{{ button|default('Enregistrer') }}</button>
{{ form_end(form) }}



