{% extends 'base.html.twig' %}

{% block title '' %}

{% block body %}
    <div class="container">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <div class="sidebar-flex">
            <div class="aside-left pr-30-995">
                <a href="{{ path('admin.article.new') }}" class="more-link">Créer</a>
                <div class="grid-event">
                    {% for article in articles %}
                        <div class="block-event flex-none">
                            {% if  article.pictures is empty %}
                                <img src="{{ 'images/smachno_07.jpg' }}" alt="card-img-top"
                                     style="width: 100%; height: auto;">
                            {% else %}
                                {% for picture in article.pictures %}
                                    {% if loop.first %}
                                        <a href="{{ path('article.show', {slug: article.slug, id: article.id}) }}"><img
                                                    src="{{ vich_uploader_asset(picture, 'imageFile') }}"
                                                    alt="card-img-top" style="width: 100%; height: auto;"></a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            <h3 class="entry-title mt-30"><a href="#">{{ article.title }}</a>
                            </h3>
                            <div class="entry-summary">
                                <p></p>
                            </div>
                            <a href="{{ path('admin.article.edit', {id: article.id}) }}" class="more-link">Editer</a>

                            <form method="POST" action="{{ path('admin.article.delete', {id: article.id}) }}"
                                  style="display: inline-block"
                                  onsubmit="return confirm('Êtes-vous vraiment sûr de vouloir supprimer cet article ?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">
                                <button class="more-link">Supprimer</button>
                            </form>
                            <span class="grid-sep"></span>
                        </div>
                    {% endfor %}
                </div>
            </div>

            {{ adminSidebar() }}
        </div>
    </div>
{% endblock %}