{% extends 'base.html.twig' %}

{% block title 'Article ' ~  article.title  %}

{% block baseline %}
    <div class="item item-normal th-swipe" style="background: linear-gradient(360deg, rgba(0, 0, 0, 0.1), rgba(54, 54, 54, 0.5) 39.24%, rgba(28, 28, 28, 0.4)),
    linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(54, 54, 54, 0.5) 39.24%, rgba(28, 28, 28, 0.4)),
    url(https://appetitedemo.files.wordpress.com/2015/07/smachno_09.jpg?w=1280&h=852&crop=1) no-repeat center center;">
        <div class="container transparent">
            <div class="item-title primary-font">
                <a>Le t-shirt {{ article.title }}</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container pb-60">
        <div class="sidebar-flex pb-0">
            <div class="aside-left aside-left-show">
                <div class="entry-summary mt-0 entry-text">
                    <p class="mt-0 mb-0">
                        {{ article.caption }}
                    </p>
                </div>
                <div class="block-gallery">
                    <ul class="block-gallery-grid">
                        {% for picture in article.pictures %}
                            <li class="blocks-gallery-item">
                                <img class="wp-image" src="{{ vich_uploader_asset(picture, 'imageFile') }}"
                                     alt="card-img-top" style="width: 100%; height: auto;">
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <h3 class="entry-content-h3">La T-shirt {{ article.title }}</h3>
                <div class="entry-summary mt-30 entry-text">
                    <p class="mt-0">
                        {{ article.description }}
                    </p>
                </div>
            </div>

            <div class="aside-right aside-right-show">
                {{ sidebar() }}
            </div>
        </div>
    </div>

{% endblock %}

